* {
    font: "JetBrains Mono Nerd Font 13";

    background:     #000000DD;
    background-alt: #101010DD;
    foreground:     #FFFFFFFF;
    selected:       #d0f786DD;
    active:         #d1b9a3FF;
    urgent:         #e36954FF;
}


