/* =========================
   TOKYONIGHT COLORS
   ========================= */
@define-color bg #0f0f14;
/* almost black */
@define-color bg_alt #16161e;

@define-color fg #c0caf5;
@define-color fg_dim #565f89;

@define-color blue #7aa2f7;
@define-color cyan #73daca;
@define-color green #9ece6a;
@define-color purple #bb9af7;
@define-color orange #ff9e64;
@define-color red #f7768e;
@define-color gray #3b4261;
