@import url("theme.css");

/* =============================
   GLOBAL RESET
   ============================= */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
}

/* =============================
   WAYBAR WINDOW
   ============================= */
window#waybar {
  background: @bg;
  color: @fg;
}

#waybar.icon {
  margin: 0 20px;
  padding: 0;
  min-width: 0;
}

/* ACTIVE WINDOW */
#window {
  font-weight: bold;
}

/* TOOLTIP */
tooltip {
  background-color: @bg;
  color: @fg;
}

/* =============================
   WORKSPACES
   ============================= */

#workspaces button {
  padding: 0 6px;

  background-color: @non-empty;
  color: @fg;
}

#workspaces button.empty {
  background-color: @empty;
  color: @fg;
}

#workspaces button.active {
  background-color: @active;
  color: @bg;
}

#workspaces button.visible {
  background-color: @visible;
  color: @bg;
}

#workspaces button.urgent {
  background-color: @urgent;
  color: @bg;
}

#workspaces button:hover {
  background-color: @fg;
  color: @bg;
}

/* =============================
   RIGHT SECTION
   ============================= */

#language {
  color: @language;
  margin-right: 5px;
}

/* CRITICAL / WARNING */
#network.disconnected,
#network.disabled,
#cpu.critical,
#disk.critical,
#memory.critical,
#battery.warning,
#battery.critical,
#battery.urgent {
  color: @urgent;
}
