@import "color.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "Inter", serif;
  /* font-weight: bold; */
  font-size: 10px;
  padding: 0;
  margin: 0;
}


/* WAYBAR WINDOW */

window#waybar {
  background: @bg;
  /* border-bottom: 1px solid @fg; */
  color: @fg;
}

/* ACTIVE WINDOW */

#window {
  /* border-left: 1px solid @fg; */
  font-weight: bold;
}

/* TOOLTIP */

tooltip {
  background-color: @bg;
  /* border: 1px solid @fg; */
}

/* WORKSPACES */

#workspaces button {
  /* border-bottom: 1px solid @fg; */
  padding: 0 6px;
  background-color: @gray;
  color: @fg;
}

#workspaces button.urgent {
  background-color: @red;
  color: @bg;
}

#workspaces button.visible {
  background-color: @green;
  color: @bg;
}

#workspaces button.empty {
  background-color: @bg;
}

#workspaces button.active {
  background-color: @orange;
  color: @bg;
}

#workspaces button:hover {
  background-color: @fg;
  color: @bg;
}


/* RIGHT SECTION */
#clock {
  /* vertical padding for whole bar */
  padding: 1px 0;
}


#network,
#bluetooth,
#wireplumber,
#battery,
#cpu,
#clock,
#memory,
#disk,
#tray,
#language {
  color: @fg;
  margin: 0 10px;
}

#language {
  color: @cyan;
}



/* CPU, DISK, BAT, MEM, NETWORK CRITICAL */
#network.disconnected,
#network.disabled,
#cpu.critical,
#disk.critical,
#memory.critical,
#battery.warning,
#battery.critical,
#battery.urgent {
  color: @red;
}
