binds {
    // Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+RETURN hotkey-overlay-title="Open a Terminal" { spawn "ghostty"; }

    // DMS

    // Mod+A hotkey-overlay-title="Run an Application" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    // Mod+T hotkey-overlay-title="Toggle Night-Light" { spawn "dms" "ipc" "call" "night" "toggle"; }
    // Mod+V hotkey-overlay-title="Clipboard Menu" { spawn "dms" "ipc" "call" "clipboard" "toggle"; }
    // Mod+ESCAPE hotkey-overlay-title="Power Menu" { spawn "dms" "ipc" "call" "powermenu" "toggle"; }

    // XF86AudioRaiseVolume { spawn "dms" "ipc" "call" "audio" "increment"; }
    // XF86AudioLowerVolume { spawn "dms" "ipc" "call" "audio" "decrement"; }
    // XF86AudioMute { spawn "dms" "ipc" "call" "audio" "mute"; }
    // XF86AudioMicMute allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "micmute"; }
    // XF86MonBrightnessUp allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "increment"; }
    // XF86MonBrightnessDown allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "decrement"; }
    // XF86AudioPlay allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "playPause"; }
    // XF86AudioStop allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "stop"; }
    // XF86AudioPrev allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "previous"; }
    // XF86AudioNext allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "next"; }


    // Noctalia

    Mod+A { spawn "noctalia-shell" "ipc" "call" "launcher" "toggle"; }
    Mod+T { spawn "noctalia-shell" "ipc" "call" "nightLight" "toggle"; }
    Mod+V { spawn "noctalia-shell" "ipc" "call" "launcher" "clipboard"; }
    Mod+ESCAPE { spawn "noctalia-shell" "ipc" "call" "sessionMenu" "toggle"; }
    Mod+PERIOD { spawn "noctalia-shell" "ipc" "call" "launcher" "emoji"; }
    Mod+SEMICOLON { spawn "noctalia-shell" "ipc" "call" "controlCenter" "toggle"; }
    Mod+Shift+SEMICOLON { spawn "noctalia-shell" "ipc" "call" "settings" "toggle"; }

    XF86AudioRaiseVolume { spawn "noctalia-shell" "ipc" "call" "volume" "increase"; }
    XF86AudioLowerVolume { spawn "noctalia-shell" "ipc" "call" "volume" "decrease"; }
    XF86AudioMute { spawn "noctalia-shell" "ipc" "call" "volume" "muteOutput"; }
    XF86AudioMicMute { spawn "noctalia-shell" "ipc" "call" "volume" "muteInput"; }
    XF86MonBrightnessUp { spawn "noctalia-shell" "ipc" "call" "brightness" "increase"; }
    XF86MonBrightnessDown { spawn "noctalia-shell" "ipc" "call" "brightness" "decrease"; }
    XF86AudioPlay allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "media" "playPause"; }
    XF86AudioStop allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "media" "stop"; }
    XF86AudioPrev allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "media" "previous"; }
    XF86AudioNext allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "media" "next"; }

    Mod+O repeat=false { toggle-overview; }
    Mod+W repeat=false { close-window; }

    Mod+H { focus-column-left; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+L { focus-column-right; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+K { move-window-up; }
    Mod+Shift+L { move-column-right; }

    Mod+S { focus-monitor-left; }
    Mod+G { focus-monitor-right; }
    Mod+Shift+S { move-column-to-monitor-left; }
    Mod+Shift+G { move-column-to-monitor-right; }

    Mod+D { focus-workspace-down; }
    Mod+F { focus-workspace-up; }
    Mod+Shift+D { move-column-to-workspace-down; }
    Mod+Shift+F { move-column-to-workspace-up; }

    Mod+WheelScrollUp cooldown-ms=150 { focus-column-right; }
    Mod+WheelScrollDown cooldown-ms=150 { focus-column-left; }
    Mod+Shift+WheelScrollUp cooldown-ms=150 { focus-window-or-workspace-up; }
    Mod+Shift+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+EQUAL { switch-preset-column-width; }
    Mod+MINUS { switch-preset-column-width-back; }
    Mod+Shift+EQUAL { switch-preset-window-height; }
    Mod+Shift+MINUS { switch-preset-window-height-back; }

    Mod+SPACE { maximize-column; }
    Mod+Shift+SPACE { fullscreen-window; }

    Mod+I { center-column; }
    Mod+Shift+I { center-visible-columns; }

    Mod+E { toggle-window-floating; }
    Mod+R { switch-focus-between-floating-and-tiling; }

    Mod+TAB { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }
    Shift+Print { screenshot; }
    Ctrl+Shift+Print { screenshot-screen write-to-disk=false; }
    Alt+Shift+Print { screenshot-window write-to-disk=false; }

    Mod+Shift+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; } // toggle allow apps to block niri binds
    // Mod+Shift+ESC { quit; }
}
