layout {
    focus-ring {
        active-color "#7aa2f7"
        inactive-color "#565f89"
    }

    border {
        active-color "#7aa2f7"     // TokyoNight blue
        inactive-color "#565f89"   // muted
        urgent-color "#f7768e"     // red/pink
    }

    shadow {
        color "#0007"
    }

    tab-indicator {
        // active-color "#7aa2f7"
        // inactive-color "#565f89"
        // urgent-color "#f7768e"
    }
}
