// INPUT
include "modules/input.kdl"

// OUTPUT
include "modules/outputs.kdl"

// APPERANCE
include "modules/apperance.kdl"

// RULES
include "modules/rules.kdl"

// KEYBINDINGS
include "modules/binds.kdl"

// AUTOSTART
include "modules/autostart.kdl"

// NOCTALIA
include "./noctalia.kdl"

// DMS
// include "dms/colors.kdl"

