binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+RETURN hotkey-overlay-title="Open a Terminal" { spawn "ghostty"; }

    Mod+A hotkey-overlay-title="Run an Application" { spawn-sh "~/.config/wm-scripts/launch.sh -show drun"; }
    Mod+T { spawn-sh "~/.config/wm-scripts/nightlight.sh"; }
    Mod+ESCAPE { spawn-sh "~/.config/wm-scripts/niri/power-menu.sh"; }
    Mod+PERIOD { spawn-sh "~/.config/wm-scripts/emoji.sh"; }
    Mod+Shift+T { spawn-sh "~/.config/wm-scripts/theme-switcher.sh"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "~/.config/wm-scripts/change-volume.sh 5%+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "~/.config/wm-scripts/change-volume.sh 5%-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "~/.config/wm-scripts/toggle-mute-audio.sh"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "~/.config/wm-scripts/toggle-mute-mic.sh"; }

    XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn-sh "~/.config/wm-scripts/sway/set-gamma.sh 5%+"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "~/.config/wm-scripts/sway/set-gamma.sh 5%-"; }

    Mod+O repeat=false { toggle-overview; }
    Mod+W repeat=false { close-window; }

    Mod+H { focus-column-left; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+L { focus-column-right; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+K { move-window-up; }
    Mod+Shift+L { move-column-right; }

    Mod+S { focus-monitor-left; }
    Mod+G { focus-monitor-right; }
    Mod+Shift+S { move-column-to-monitor-left; }
    Mod+Shift+G { move-column-to-monitor-right; }

    Mod+D { focus-workspace-down; }
    Mod+F { focus-workspace-up; }
    Mod+Shift+D { move-column-to-workspace-down; }
    Mod+Shift+F { move-column-to-workspace-up; }

    Mod+WheelScrollUp cooldown-ms=150 { focus-column-right; }
    Mod+WheelScrollDown cooldown-ms=150 { focus-column-left; }
    Mod+Shift+WheelScrollUp cooldown-ms=150 { focus-window-or-workspace-up; }
    Mod+Shift+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+EQUAL { switch-preset-column-width; }
    Mod+MINUS { switch-preset-column-width-back; }
    Mod+Shift+EQUAL { switch-preset-window-height; }
    Mod+Shift+MINUS { switch-preset-window-height-back; }

    Mod+SPACE { maximize-column; }
    Mod+Shift+SPACE { fullscreen-window; }

    Mod+I { center-column; }
    Mod+Shift+I { center-visible-columns; }

    Mod+C { toggle-window-floating; }
    Mod+Shift+C { switch-focus-between-floating-and-tiling; }

    Mod+TAB { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+P { quit; }
}
