* { 
    border: 0;
}

window {
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 3px;
    --border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}

#entry:selected{
    --background: linear-gradient(90deg, #444348, #1d1d1f);
    background-color: transparent;
}

#input {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border: 2px solid #444348;
    --border-top-right-radius: 5px;
    --border-top-left-radius: 5px;
}

#entry {
    padding: 5px 10px;
}

image {
    margin: 0 10px;
}
