* { 
    border: 0;
}

window {
    font-size: 16px;
    font-family: 'Ubuntu Nerd Font';
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 3px;
}

#entry {
    border: 1px solid transparent;
}

#entry:selected{
    background-color: #2b2b2b;
    border: 1px dashed #646464;
    border-radius: 3px;
}

#input {
    background-color: transparent;
    color: white;
    padding: 5px 10px;
}

#entry, #input {
    padding: 5px 10px;
}

image {
    margin: 0 10px;
    background-color: transparent;
}
