* { 
    border: 0;
}

window {
    font-size: 16px;
    font-family: 'Ubuntu Nerd Font';
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 16px;
}

#entry {
    border: 2px solid transparent;
}

#entry:selected{
    background-color: #242424;
    border: 2px dashed #4d4d4d;
    border-radius: 5px;
}

#input {
    background-color: transparent;
    color: white;
    margin-bottom: 3px;
    border-radius: 16px;
}

#entry, #input {
    padding: 5px 10px;
}

image {
    margin: 0 10px;
    background-color: transparent;
}
