/*
  background: #101010;
  border: #2c2c2c;
  background-widgets: #2e2e2e;
  border-widgets: #5c5c5c;
  text-color: #bdbdbd;
*/

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "Inter";
    font-weight: bold;
    font-size: 11px;
    padding: 0;
}

#window label{
    font-size: 12px;
}

window#waybar {
    /* background: transparent; */
    background: #101010;
    /* border-bottom: 2px solid #4b4239; */
}

tooltip {
    background-color: #101010;
    border: 1px solid #2c2c2c;
}

#language,
#bluetooth,
#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
}

#workspaces {
    background-color: #2e2e2e;
    margin: 6px 0px 6px 6px;
    border: 1px solid #5c5c5c;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
    color: #9e9e9e;
}

#window,
#workspaces button.focused {
    color: #ffffff;
}

#workspaces button.urgent {
    background-color: #f04141;;
    color: #1d2021;
}

#clock {
    background-color: #2e2e2e;
    border: 1px solid #5c5c5c;
    color: #ffffff;
}


#battery,
#language,
#tray,
#cpu,
#memory,
#bluetooth,
#network,
#pulseaudio {
    background-color: #1a1a1a;
    border: 1px solid #3f3f3f;
    color: #ffffff;
}


#cpu.critical,
#memory.critical
#battery.warning,
#battery.critical,
#battery.urgent {
    color: #f04141;
}
